{% extends "blog/index.html" %}
{% load static %}
{% block blog_content %}

<h2>Buscador de Restaurantes</h2>
<hr></hr>

<form action="/blog/search" method="GET">
    <div>
        <input type="text" name="text_search" id="nombre" placeholder="Buscar por ciudad">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if restaurantes %}
    <ul>
        {% for restaurante in restaurantes %}
            <li>
                -- restaurante: {{restaurante.nombre}}
                -- ciudad: {{restaurante.ciudad}}
                -- tipo de comida: {{restaurante.tipo_de_comida}}
                
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}