{% extends "blog/index.html" %}
{% load static %}
{% block blog_content %}

<h2>Lista de monumentos</h2>
<a class="card_custom" href="{% url 'blog:MonumentosDjangoForms' %}">Crear nuevo Monumento visitado</a>
<hr>
</hr>
<ul>
    {% for monumento in monumentos %}
    <li>
        {{monumento}}
        {% if user.is_authenticated %}    
        (
        <a href="{% url 'blog:UpdateMonumento' monumento.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"></i>
        </a>
        |
        <a href="{% url 'blog:DeleteMonumento' monumento.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"></i>
        </a>
        )
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}