{% extends "blog/index.html" %}
{% load static %}
{% block blog_content %}

<h2>Lista de monumentos</h2>
<a class="card_custom" href="{% url 'blog:monumentoDjangoForms' %}">Crear nuevo Empleo</a>
<hr>
</hr>
<ul>
    {% for empleo in monumento %}
    <li>
        {{empleo}}
        (
        <a href="{% url 'blog:UpdateEmpleo' empleo.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"></i>
        </a>
        |
        <a href="{% url 'blog:DeleteEmpleo' empleo.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"></i>
        </a>
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}