{% extends "blog/index.html" %}
{% load static %}
{% block blog_content %}

<h2>Detalle del Monumento {{ monumento.nombre}}</h2>
<hr></hr>
<p><h4>Ciudad: {{ monumento.ciudad }}</h4></p>
<p><h4>Descripcion: {{ monumento.descripcion }}</h4></p>
<p><h4>Historia: {{ monumento.historia }}</h4></p>


{% if monumento.image %}
<div style="text-align: center;">
    <img height="250px" src="{{ monumento.image.url }}">
</div>
{% endif %}


<!-- Update-Delete link only for the owner -->
{% if user == monumento.owner or user.is_superuser %}
    <p style="text-align: center">
        <a href="{% url 'blog:monumento-update' monumento.id %}">
            <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar Monumento
        </a>
        &ensp; | &ensp;
        <a href="{% url 'blog:monumento-delete' monumento.id %}">
            <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar Monumento
        </a>
    </p>
{% endif %}

<p class="post-meta">
    Creado por
    <span style="color: #0b4956;" href="">{{ monumento.owner.username }}</span>
    ( {{ monumento.created_at }} )
    <br>
    Última fecha de actualización ( {{ monumento.updated_at }} )
</p>

<p><a class="btn2 btn-primary" href="{% url 'blog:monumento-list' %}">Regresar a la lista de Monumentos</a></p>

{% endblock %}