{% extends "blog/index.html" %}
{% load static %}
{% block blog_content %}


<h2>Lista de restaurante</h2>
<a class="card_custom" href="{% url 'blog:restaurante-add' %}">Crear nuevo restaurante</a>
<hr></hr>
<ul>
    {% for restaurante in restaurante_list %}
    <li>
        {{restaurante}}
        (
            <a href="{% url 'blog:restaurante-detail' restaurante.id %}">
                <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
            </a>
        {% if user.is_superuser or restaurante.owner == user %}
            |
            <a href="{% url 'blog:restaurante-update' restaurante.id %}">
                <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
            </a>
            |
            <a href="{% url 'blog:restaurante-delete' restaurante.id %}">
                <i class="fa fa-trash" style="color: #881a1a;"> </i>
            </a>
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>
{% endblock %}