{% extends "blog/index.html" %}
{% load static %}
{% block blog_content %}


<h2>Lista de Sitios Turísticos</h2>
<a class="card_custom" href="{% url 'blog:sitio-add' %}">Crear nuevo Sitio Turístico</a>
<hr></hr>
<ul>
    {% for sitio in sitio_list %}
    <li>
        {{sitio}}
        (
            <a href="{% url 'blog:sitio-detail' sitio.id %}">
                <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
            </a>
        {% if user.is_superuser or sitio.owner == user %}
            |
            <a href="{% url 'blog:sitio-update' sitio.id %}">
                <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
            </a>
            |
            <a href="{% url 'blog:sitio-delete' sitio.id %}">
                <i class="fa fa-trash" style="color: #881a1a;"> </i>
            </a>
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>
{% endblock %}