{% extends "blog/index.html" %}
{% load static %}
{% block blog_content %}

<h2>Lista de Sitios Turísticos</h2>
<a class="card_custom" href="{% url 'blog:sitio-add' %}">Crear nuevo Sitio Turistico</a>
<hr>
</hr>
<ul>
    {% for sitio in sitios %}
    <li>
        {{sitio}}
        {% if user.is_authenticated %}   
        (
        <a href="{% url 'blog:UpdateSitio' sitio.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"></i>
        </a>
        |
        <a href="{% url 'blog:DeleteSitio' sitio.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"></i>
        </a>
        )
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}